html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner h2 {
  font-weight: bold;
}

.btn-big {
  position: relative;
  max-height: 500px;
}

.banner .img-flex {
  display: block;
  width: 100%;
  max-height: 50em;
}

.image {
  float: left;
  display: inline-block;
}

.content {
  float: right;
  display: inline-block;
}

.banner-content {
  position: absolute;
  bottom: 10px;
  width: 100%;
  max-width: 45em;
  left: 25%;
}

.btn {
  text-decoration: none;
  background-color: #212F3C;
  color: #fff;
  padding: 1em;
  border-radius: 10px;
  margin-top: 3em;
}
