html {
  box-sizing: border-box;
  font: normal 100%/1.3 "Roboto Condensed", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.banner h2 {
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.65rem;
  margin-top: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.image {
  float: left;
  width: 33.33%;
  padding: .5rem;
}

.content {
  float: right;
  width: 66.66%;
  padding: 0 2.5rem;
}

.banner-content {
  position: absolute;
  top: 50%;
  width: 100%;
  max-width: 45em;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
}

.btn {
  text-decoration: none;
  background-color: #333;
  color: #fff;
}

.btn:hover {
  background-color: black;
}

.btn-big {
  padding: .65em;
  border-radius: 10px;
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: .14rem;
}
