html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Roboto Condensed", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  padding: 2em;
}

.banner h2 {
  font-weight: bold;
  overflow: hidden;
  font-size: 3rem;
}

.content p {
  font-size: 1.5rem;
}

.btn-big {
  position: relative;
  max-height: 500px;
}

.img-flex {
  display: block;
  width: 100%;
  max-height: 50em;
}

.image {
  float: left;
  display: inline-block;
  width: 100%;
  max-width: 25%;
}

.content {
  float: right;
  display: inline-block;
}

.banner-content {
  position: absolute;
  bottom: 10px;
  width: 100%;
  max-width: 45em;
  left: 25%;
  transform: translate(20%);
}

.btn {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 1em;
  border-radius: 10px;
  margin-top: 3em;
}

.btn:hover {
  background-color: black;
}
